﻿@inherits UmbracoViewPage<IPage>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@Model.Seo.Description">
    <meta name="keywords" content="@Model.Seo.Keywords">
    <meta name="robots" content="@(Model.Sitemap.Index ? "INDEX, FOLLOW" : "NOINDEX, NOFOLLOW")">

    <title>@Model.Seo.Title | @Model.Site.Title</title>
	
	<link href="//fonts.googleapis.com/css?family=Merriweather:400,700,300,900" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header style="background-color:gold;padding:20px;">
		<a href="@Model.Site.Url">
            @Model.Site.Title
		</a>
    </header>
	
    @RenderBody()

    <footer>
    </footer>
    
    @if (Model.Site.GoogleAnalyticsCode.Any())
    {
        <script>
            @Model.Site.GoogleAnalyticsCode
        </script>
    }
  </body>
</html>