﻿@inherits UmbracoViewPage<GlobalManifesto.Website.Presentation.SearchPage.SearchPageViewModel>
@{
    Layout = "Master.cshtml";
}

<h1>
    Search Text = @Model.SearchText
</h1>

Error Url is @Model.Site.Error.Url
