﻿@inherits UmbracoViewPage<TextPage>
@{
    Layout = "Master.cshtml";
    var featureImage = Umbraco.Media(1143);
}

<script type="text/javascript">
        window.slimmage = { verbose: false };
</script>
<script src="/scripts/slimmage.min.js"></script>

<img src="@featureImage.GetResponsiveImageUrl(270, 161)" alt="" style="max-width:100%;" />


@Model.Description
